.threadsPost{
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: row;
    max-height: 300px;
    margin: 10px 0;
}
.upvoteSection{
    background-color: #99AAFF;
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.upvoteSection img{
    width: 50px;
    height: 50px;
    margin: 3px;
}
.upvote{
    transform: rotate(180deg);
}
.upvoteSection p{
    font-weight: 700;
    font-size: 1.5em;
}
.postSection{
    width: 80%
}
.title{
    margin: 3px 3%;
    font-weight: 600;
    font-size: 1.5em;
}
.contents{
    margin: 3px 3%;
    font-weight: 500;
}
.postSection hr{
    color: black;
    border: 2px solid black;
    width: 94%;
}
.commentsButton{
    width: 40px;
    margin: 1px 3%;
    float: right;
}
.author{
    color: #99AAFF;
    margin: 3px 3%;
    font-weight: 700;
}